# Ignore node_modules directory
node_modules/

# Ignore yarn.lock file
yarn.lock

# Ignore environment-specific files
.env

# Ignore logs
logs
*.log

# Ignore built files
dist/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.iml

# Ignore Mac-specific files
.DS_Store

# Ignore testing and coverage directories
coverage/